.btn {
  display: inline-block;
  background: #f64c72;
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.btn:hover {
  opacity: 0.9;
  color: #f64c72;
  border: 1px solid #f64c72;
  background: transparent;
}
