.item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #553d67;
  margin-top: 1rem;
  border: 1px solid #553d67;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
  margin-top: 0.4rem;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.icon {
  color: #fff;
}
