.form label {
  display: block;
}
.btn {
  margin-bottom: 2rem;
}
.title {
  margin-bottom: 1rem;
}
.imgBtn {
  background-color: #f64c72;
  color: #fff;
  margin-top: 1rem;
  border: 1px solid #f64c72;
}

.imgBtn:hover {
  opacity: 0.6;
  color: #f64c72;
}
.inpt {
  width: 100%;
}
.backBtn {
  margin-bottom: 2rem;
  width: 14rem;
}
.btn {
  background-color: #f64c72;
  color: #fff;
  letter-spacing: 0.5px;
  width: 100%;
  margin-top: 2rem;
}
.area {
  color: #fff;
  letter-spacing: 0.5px;
}
/* .form .file {
  border: 1px #ccc solid;
  background-color: #f4f4f4;
  padding: 10px;
} */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
