.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #242582;
  padding: 0 30px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.list a {
  border: 3px solid #f64c72;
  transition: all 0.2s ease-out;
  color: #f64c72;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
}
.list a:hover {
  opacity: 0.6;
  /* color: #553d67;
  border-color: #553d67; */
}
.logo {
  font-size: 30px;
  width: 30rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.logo a {
  color: #f64c72;
  font-weight: 900;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .list {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .list a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .logo {
    flex-direction: column;
  }
}
