.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #242582;
  padding: 0 30px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.list a {
  margin-right: 20px;
  background-color: #f64c72;
  transition: all 0.2s ease-out;
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 5px;
}
.list a:hover {
  opacity: 0.6;
}
.logo {
  font-size: 30px;
  text-transform: uppercase;
}

.logo a {
  color: #f64c72;
  font-weight: 900;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .list {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .list a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
